<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/controller/proses" method="post" enctype="multipart/form-data">
            <input type="text" name="nama" placeholder="Masukan Nama Anda">
            <input type="text" name="hobi" placeholder="Masukan Hobi Anda">
            <!-- <input type="text" name="id" placeholder="Masukan Id anda"> -->
            <input type="file" name="gambar">
            <button type="submit">Kirim</button>
        </form>
</body>
</html>